# Aragon Association

In [10]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://assets.website-files.com/5e997428d0f2eb13a90aec8c/5ea0200074850783b428f55a_graph02.svg")

# Findings for the the Vochain community board

In [12]:
Image(url= "")

In [11]:
from _utils.voc_const import *
from _const import *
from datetime import timedelta
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
import plotly.express as px
import plotly.io as pio
import plotly.graph_objects as go
pio.renderers.default = 'iframe_connected'

from _utils._analysis import *
from _utils._mongo import get_df_processes

In [4]:
df_processes = get_df_processes()

# General metrics
Our general metrics for `entities`, `processes` and  `envelopes` are the following:

# Processes table (head and tail)

In [5]:
df_processes.head()

,_id,creationTime,endBlock,startBlock,entityId,processId
0,60ba2296f805dbfa5ff64d26,2021-05-12T15:23:16Z,541,41,359e67ac4c5311cbd6571a20eaf6e879a466d154,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...
1,60ba2296f805dbfa5ff64d27,2021-05-12T15:26:01Z,71897,317,f0f8d83cdab2f9514bef0319f1b434267be36b5c,631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf63...
2,60ba2296f805dbfa5ff64d28,2021-05-12T15:26:01Z,110178,40945,f0f8d83cdab2f9514bef0319f1b434267be36b5c,fe20607cf3f94060b3edc5d2ece161557d7359d10eb84f...
3,60ba2296f805dbfa5ff64d29,2021-05-12T15:26:01Z,110179,39553,f0f8d83cdab2f9514bef0319f1b434267be36b5c,bf022de42ef2d7a5f9d9b2737843dfc88cf93253966124...
4,60ba2296f805dbfa5ff64d2a,2021-05-12T15:26:01Z,168676,43325,f0f8d83cdab2f9514bef0319f1b434267be36b5c,853f582a39dbb70c48468a1685fac0d9b901a3014a75eb...

In [6]:
df_processes.tail()

,_id,creationTime,endBlock,startBlock,entityId,processId
161,60ba2296f805dbfa5ff64dc7,2021-06-04T10:03:15Z,382342,189112,29dc4923fe62cbc28b94c2c075a6e68f040f7644,3ca3595a19db17534ddc2f787c2659e4a1e51777f9d2e0...
162,60ba2296f805dbfa5ff64dc8,2021-06-04T10:17:44Z,378427,189199,29dc4923fe62cbc28b94c2c075a6e68f040f7644,be5b63e10fcb61743800922adbfa4a5fe9043d3ab77f8d...
163,60ba2296f805dbfa5ff64dc9,2021-06-04T10:27:33Z,378549,189246,29dc4923fe62cbc28b94c2c075a6e68f040f7644,fa0004a660ace49eb25b137d92a726f9622b146df72b90...
164,60ba2296f805dbfa5ff64dca,2021-06-04T12:01:02Z,193231,190097,f0f8d83cdab2f9514bef0319f1b434267be36b5c,b9cdd244f0c0e697b67020e62ac6503bef8cd5c0d13b19...
165,60ba2296f805dbfa5ff64dcb,2021-06-04T12:10:21Z,209937,189828,f0f8d83cdab2f9514bef0319f1b434267be36b5c,8eab28581e693b0f94ad01284eb47d8a4035ae01f36d14...

In [8]:
df_processes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           166 non-null    object
 1   creationTime  166 non-null    object
 2   endBlock      166 non-null    int64
 3   startBlock    166 non-null    int64
 4   entityId      166 non-null    object
 5   processId     166 non-null    object
dtypes: int64(2), object(4)
memory usage: 7.9+ KB

There are no null values, being `startBlock` and `endBlock` integer type.

### Create blocks column
So as to be able to calculate `proccess_duration`

In [9]:
df_processes, MIN_KNOWN_DATE = add_time_cols(df_processes, AVG_BLOCK_TIME_SECS)

In [10]:
df_processes.head()

,creationTime,endBlock,startBlock,entityId,processId,blocks,proccess_duration_d,creationTime_ts,endingTime_ts
0,2021-05-12T15:23:16Z,541,41,359e67ac4c5311cbd6571a20eaf6e879a466d154,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,500,0.03,2021-05-12 15:23:16+00:00,2021-05-12 16:13:16+00:00
1,2021-05-12T15:26:01Z,71897,317,f0f8d83cdab2f9514bef0319f1b434267be36b5c,631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf63...,71580,4.97,2021-05-12 15:26:01+00:00,2021-05-17 14:44:01+00:00
2,2021-05-12T15:26:01Z,110178,40945,f0f8d83cdab2f9514bef0319f1b434267be36b5c,fe20607cf3f94060b3edc5d2ece161557d7359d10eb84f...,69233,4.81,2021-05-12 15:26:01+00:00,2021-05-17 10:49:19+00:00
3,2021-05-12T15:26:01Z,110179,39553,f0f8d83cdab2f9514bef0319f1b434267be36b5c,bf022de42ef2d7a5f9d9b2737843dfc88cf93253966124...,70626,4.90,2021-05-12 15:26:01+00:00,2021-05-17 13:08:37+00:00
4,2021-05-12T15:26:01Z,168676,43325,f0f8d83cdab2f9514bef0319f1b434267be36b5c,853f582a39dbb70c48468a1685fac0d9b901a3014a75eb...,125351,8.70,2021-05-12 15:26:01+00:00,2021-05-21 08:21:07+00:00

### Process Duration
Accoring to data, processes last X in mean and 50% last more or less than Y days.

This distribution is skewed due to outliers.

Max. duration is Z.

In [11]:
df_processes["proccess_duration_d"].describe()

count   166.00
mean      2.83
std      11.47
min       0.00
25%       0.02
50%       0.17
75%       3.48
max     141.56
Name: proccess_duration_d, dtype: float64

In [12]:
fig = px.box(df_processes, y="proccess_duration_d")
fig.update_layout(title_text="Processes duration in days boxplot")
fig.show()

---

In [13]:
if CACHE_ENVELOPES:
    from data.rs import rs as envelopes
    print(len(envelopes))
    print(envelopes[4])
    
    ### Filter needed data from `envelopes`
    check = []
    envelopes_filtered = []
    for e in envelopes:
        r = e.get("response", None)
        _e = r.get("envelopes", None)
        if _e:
            l = (len(_e))
            for _d in _e:
                new = {attr: _d[attr] for attr in ATTR.getEnvelopeList if attr in _d}
                envelopes_filtered.append(new)
            if l == 64:
                check.append(new["process_id"])
                
    print()
    print(envelopes_filtered[:3])
    df_envelopes = pd.DataFrame(envelopes_filtered)
    ### Estimate timestamp for every envelope
    df_envelopes["vote_ts"] = (df_envelopes["height"]  
                           / AVG_BLOCK_TIME_SECS # seconds
                           / 60 # minutes
                           / 24 # days
                          ).apply(lambda x: timedelta(days=x)) + MIN_KNOWN_DATE

508
{'id': '123', 'response': {'envelopes': [{'height': 2689, 'nullifier': 'fc52b5504621d512bfe4dfae6b9c33e3cd6073f3bf17394bee3a7cb785c162cd', 'process_id': '631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf6382b29cf1fe6037c1f6', 'tx_hash': '176ff53ce7ecd27bc05f8a936c431aea6314c76f6631ff9003dc98794149b53c', 'tx_index': 0}, {'height': 9382, 'nullifier': '9f0997008ee60e779740253dccaad176e228cbe0babe251a7bb60323a6f7db2c', 'process_id': '631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf6382b29cf1fe6037c1f6', 'tx_hash': '61515a95736894445c3c92e7a2b45a3fa28454d76b405707ab6e8c831af4dd30', 'tx_index': 0}, {'height': 13219, 'nullifier': '64c50312ddf9dd53ca70f7cc549f3ddf83f26dabbb45f2c5cacf8771961af366', 'process_id': '631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf6382b29cf1fe6037c1f6', 'tx_hash': '9e5ae0501ae06a782e5caf2894b8d5faf374970b1a7eaf711023f0564842b7b0', 'tx_index': 0}], 'ok': True, 'request': '123', 'timestamp': 1622834166}, 'signature': '00a070351f169d60622c1f32bba1682beda846a27c34aba206020c2f5db4958708178c9bd0ff64e40bfb102209c54daaa06392deaee3aa6de1bcb9b4964cb56600'}

[{'height': 42, 'nullifier': '00c5a14b3aa62f810fd829e076fd8b46d52fe5a709a738c11af65e9b055bc443', 'process_id': '53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407852d56cf8afb4fcde'}, {'height': 42, 'nullifier': '012de59c7121f8f9d97edcfc43b7504c7e89a9312bc6ac4ce3c06ff825531811', 'process_id': '53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407852d56cf8afb4fcde'}, {'height': 42, 'nullifier': '01be3123076729594d89e457a46a7b3751b3fd25f1ef2916c824c95364c66c1c', 'process_id': '53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407852d56cf8afb4fcde'}]

In [14]:
df_envelopes.shape

(30544, 4)

In [15]:
df_envelopes.head()

,height,nullifier,process_id,vote_ts
0,42,00c5a14b3aa62f810fd829e076fd8b46d52fe5a709a738...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
1,42,012de59c7121f8f9d97edcfc43b7504c7e89a9312bc6ac...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
2,42,01be3123076729594d89e457a46a7b3751b3fd25f1ef29...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
3,42,020a34edc52b6d5281580fea3857dfc8bce9a322984b15...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
4,42,0234a78af57502e716ac6ca9616359f660cdf76b33febb...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00

In [16]:
for col in df_envelopes.columns:
    tmp_col = df_envelopes[col]
    display(tmp_col.value_counts().head(10).to_frame())
    print("Unique values", len(tmp_col.unique()))
    print()

      height
8598    9552
8656    9216
8583    6592
8584    3233
8657     716
8832     329
8856     254
42       200
8833     171
9161     128

Unique values 39

                                                    nullifier
f03a6e176607e821bc95e887dc9abe65ae1511c3df55b41...          1
69029b8b3bb675d5c9cdf6f3f9065ee4700c10ea75df3bd...          1
4c2752edb6c164d03aa7495fbb0a31f40a300c6301af85f...          1
07518970c490928e263d00930b570ffd736d8b305d11ca7...          1
dc5a2ad019d9428a2987bda091e55c050f8829afe9035c3...          1
222702a54758e374bba780e57a08439eeb04f974843e3ff...          1
d0a42e8cd7b3adf76f6e504afcafd996e22ef3f27b2e7a3...          1
34c25b2bb600ea9a8f4b1715cdb896a202cfb93da83350d...          1
4f3128b541b91bdfd8023cd36d2f2a4607c179488133732...          1
118839510de483333d4adf72cf9f07588014ddf2ce0c397...          1

Unique values 30544

                                                    process_id
16ef4d7af7489d8fbe113e6dcb58e9aeb5deac49a83b9e1...        9932
7bbe11efa4597621c26a8b3ea3fe5e3ae1cc457e3b17ea4...        9825
fbdf7c83153d889d1683ba3c286b2dc5025d1e75a20464a...        9553
85f3a5394c7e186ab5172e7a1d1dfa7c5b7e707b06b31c8...         500
a5d79fbbd4054e40ebab3278647d7bab83afaecba7535fa...         266
53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407...         200
c74e2c141cfe5b961ea215f77f788af2c9478d63b065361...         128
fb7bd01987e1d8bb0ad5eb8b65e26fcbdd56787f33bc9ba...          50
35fb0d73a5092a143a9c628f5f43b10b226cb3f48721a11...          20
f3f42e1db4a38c78956fd5284c488f0ddca6f2996ae279e...          20

Unique values 26

                           vote_ts
2021-05-13 05:43:04+00:00     9552
2021-05-13 05:48:52+00:00     9216
2021-05-13 05:41:34+00:00     6592
2021-05-13 05:41:40+00:00     3233
2021-05-13 05:48:58+00:00      716
2021-05-13 06:06:28+00:00      329
2021-05-13 06:08:52+00:00      254
2021-05-12 15:27:28+00:00      200
2021-05-13 06:06:34+00:00      171
2021-05-13 06:39:22+00:00      128

Unique values 39

In [17]:
df_tmp = (df_envelopes
        .groupby("process_id")["nullifier"]
        .count()
        .sort_values(ascending=False)
        .to_frame()
        )
display(df_tmp.head(20))

                                                    nullifier
process_id
16ef4d7af7489d8fbe113e6dcb58e9aeb5deac49a83b9e1...       9932
7bbe11efa4597621c26a8b3ea3fe5e3ae1cc457e3b17ea4...       9825
fbdf7c83153d889d1683ba3c286b2dc5025d1e75a20464a...       9553
85f3a5394c7e186ab5172e7a1d1dfa7c5b7e707b06b31c8...        500
a5d79fbbd4054e40ebab3278647d7bab83afaecba7535fa...        266
53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407...        200
c74e2c141cfe5b961ea215f77f788af2c9478d63b065361...        128
fb7bd01987e1d8bb0ad5eb8b65e26fcbdd56787f33bc9ba...         50
35fb0d73a5092a143a9c628f5f43b10b226cb3f48721a11...         20
48dd26ca7371e65b3e9e21f9b51a5bcc82c63883b1d144b...         20
f3f42e1db4a38c78956fd5284c488f0ddca6f2996ae279e...         20
60ffb0579efe26c8ac68f6b15fc7467846db9b5770ba72f...         10
631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf638...          3
2f976d5cbc12cadd99dc8c57a0876adae3d3d2d361a556a...          3
a1c52ab1bbb81185d37ea5c80af2691e32b598a2a903938...          2
853f582a39dbb70c48468a1685fac0d9b901a3014a75eb2...          2
9a20ab76d743e2d787e8b11118a2ad7f6dc99c3faa04199...          1
8dc72483bf19b9f778c871574fc14b294de65c1e2c5437c...          1
78364fdd52145ea9ba6ab6d593303627b5dea9867d15009...          1
c18cd531c2f3c1d9cbada0d23eb36b424e11c4665caeada...          1

In [18]:
df_envelopes.head()

,height,nullifier,process_id,vote_ts
0,42,00c5a14b3aa62f810fd829e076fd8b46d52fe5a709a738...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
1,42,012de59c7121f8f9d97edcfc43b7504c7e89a9312bc6ac...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
2,42,01be3123076729594d89e457a46a7b3751b3fd25f1ef29...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
3,42,020a34edc52b6d5281580fea3857dfc8bce9a322984b15...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
4,42,0234a78af57502e716ac6ca9616359f660cdf76b33febb...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00

In [19]:
votes_dict = {process_id : vote_count[0] for process_id, vote_count in df_tmp.iterrows()}

In [20]:
votes_ts_dict = {row[0] : row[1] for index, row in df_envelopes[["process_id", "vote_ts"]].iterrows()}

In [21]:
df_processes["votes_count"] = df_processes["processId"].apply(lambda x: votes_dict.get(x, 0)).astype("float")

In [22]:
df_processes["votes_count"].describe()

count    166.00
mean     184.00
std     1305.46
min        0.00
25%        0.00
50%        0.00
75%        0.00
max     9932.00
Name: votes_count, dtype: float64

In [23]:
(df_processes["votes_count"]==0).sum()

140

In [24]:
df_processes["votes_count"].value_counts()

0.00       140
1.00        10
20.00        3
2.00         2
3.00         2
9932.00      1
50.00        1
266.00       1
500.00       1
200.00       1
9825.00      1
10.00        1
9553.00      1
128.00       1
Name: votes_count, dtype: int64

In [25]:
df_processes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   creationTime         166 non-null    object
 1   endBlock             166 non-null    int64
 2   startBlock           166 non-null    int64
 3   entityId             166 non-null    object
 4   processId            166 non-null    object
 5   blocks               166 non-null    int64
 6   proccess_duration_d  166 non-null    float64
 7   creationTime_ts      166 non-null    datetime64[ns, UTC]
 8   endingTime_ts        166 non-null    datetime64[ns, UTC]
 9   votes_count          166 non-null    float64
dtypes: datetime64[ns, UTC](2), float64(2), int64(3), object(3)
memory usage: 13.1+ KB

In [26]:
df_processes_zero_votes = df_processes[df_processes["votes_count"].eq(0)]
df_processes_non_zero_votes = df_processes[~df_processes["votes_count"].eq(0)]

In [32]:
scatter_duration_votes(df_processes)

In [33]:
scatter_duration_votes(df_processes_non_zero_votes)

In [34]:
votes_evol = df_envelopes.groupby('vote_ts')['nullifier'].count().cumsum(axis=0)
votes_evol.head()

vote_ts
2021-05-12 15:27:28+00:00    200
2021-05-12 15:46:10+00:00    201
2021-05-12 18:38:46+00:00    221
2021-05-12 18:38:52+00:00    241
2021-05-12 18:39:04+00:00    251
Name: nullifier, dtype: int64

In [36]:
processes_evol = df_processes.groupby('creationTime_ts')['processId'].count().cumsum(axis=0)
processes_evol.head()

creationTime_ts
2021-05-12 15:23:16+00:00    1
2021-05-12 15:26:01+00:00    5
2021-05-12 15:31:01+00:00    6
2021-05-12 15:36:53+00:00    7
2021-05-12 15:40:41+00:00    8
Name: processId, dtype: int64

In [37]:
df_processes['not_dup'] = 1 - df_processes["entityId"].duplicated()
entities_evol = df_processes.groupby('creationTime_ts')['not_dup'].sum().cumsum()
df_processes.drop('not_dup', inplace=True, axis=1)

In [38]:
entities_evol

creationTime_ts
2021-05-12 15:23:16+00:00     1
2021-05-12 15:26:01+00:00     2
2021-05-12 15:31:01+00:00     2
2021-05-12 15:36:53+00:00     2
2021-05-12 15:40:41+00:00     2
2021-05-12 15:48:16+00:00     3
2021-05-12 15:52:15+00:00     3
2021-05-12 20:46:08+00:00     3
2021-05-12 20:52:10+00:00     4
2021-05-12 21:08:22+00:00     5
2021-05-12 21:42:41+00:00     6
2021-05-12 21:44:03+00:00     7
2021-05-13 02:28:49+00:00     8
2021-05-13 12:41:46+00:00     9
2021-05-13 13:15:00+00:00    10
2021-05-13 13:18:47+00:00    10
2021-05-13 14:33:59+00:00    10
2021-05-13 14:35:11+00:00    10
2021-05-13 14:50:01+00:00    11
2021-05-13 15:23:23+00:00    11
2021-05-13 15:48:23+00:00    12
2021-05-13 15:49:25+00:00    13
2021-05-13 15:50:17+00:00    14
2021-05-13 15:51:19+00:00    14
2021-05-13 15:54:36+00:00    14
2021-05-13 15:56:09+00:00    15
2021-05-13 15:57:11+00:00    16
2021-05-13 15:59:56+00:00    17
2021-05-13 16:10:00+00:00    18
2021-05-13 16:45:46+00:00    19
2021-05-13 16:50:40+00:00    20
2021-05-13 16:53:06+00:00    21
2021-05-13 17:53:31+00:00    22
2021-05-13 18:00:46+00:00    23
2021-05-13 18:03:08+00:00    24
2021-05-13 18:05:47+00:00    25
2021-05-13 18:07:39+00:00    26
2021-05-13 18:23:03+00:00    27
2021-05-13 21:08:24+00:00    28
2021-05-13 22:11:17+00:00    28
2021-05-14 00:52:17+00:00    28
2021-05-14 11:11:55+00:00    29
2021-05-14 11:16:55+00:00    30
2021-05-14 14:16:12+00:00    31
2021-05-14 15:19:30+00:00    31
2021-05-14 21:47:07+00:00    32
2021-05-14 22:05:03+00:00    32
2021-05-14 22:19:32+00:00    32
2021-05-14 23:22:16+00:00    33
2021-05-17 13:59:36+00:00    33
2021-05-17 17:02:07+00:00    34
2021-05-17 20:08:58+00:00    34
2021-05-18 09:37:08+00:00    35
2021-05-18 15:55:38+00:00    35
2021-05-18 16:00:07+00:00    35
2021-05-19 14:08:31+00:00    36
2021-05-19 14:35:14+00:00    36
2021-05-19 16:08:47+00:00    36
2021-05-19 17:43:34+00:00    36
2021-05-20 10:42:14+00:00    37
2021-05-20 10:46:23+00:00    37
2021-05-20 10:50:00+00:00    37
2021-05-20 10:58:16+00:00    37
2021-05-20 11:06:33+00:00    37
2021-05-20 16:52:33+00:00    37
2021-05-21 09:18:52+00:00    37
2021-05-21 09:34:30+00:00    37
2021-05-21 09:38:28+00:00    37
2021-05-21 09:39:50+00:00    37
2021-05-21 09:41:44+00:00    37
2021-05-21 09:42:36+00:00    37
2021-05-21 09:42:57+00:00    37
2021-05-21 09:45:52+00:00    37
2021-05-21 09:46:54+00:00    37
2021-05-21 09:48:07+00:00    37
2021-05-21 09:52:15+00:00    37
2021-05-21 09:53:27+00:00    37
2021-05-21 09:54:39+00:00    37
2021-05-21 10:02:35+00:00    37
2021-05-21 10:14:18+00:00    37
2021-05-21 10:53:16+00:00    37
2021-05-21 10:58:36+00:00    37
2021-05-21 11:02:14+00:00    37
2021-05-21 14:45:06+00:00    37
2021-05-22 09:32:29+00:00    37
2021-05-22 09:48:21+00:00    37
2021-05-22 14:35:00+00:00    38
2021-05-22 15:00:27+00:00    39
2021-05-22 15:07:52+00:00    40
2021-05-22 16:40:06+00:00    41
2021-05-22 20:23:40+00:00    42
2021-05-22 20:26:03+00:00    43
2021-05-22 20:27:29+00:00    44
2021-05-22 20:30:35+00:00    45
2021-05-22 20:33:29+00:00    46
2021-05-22 20:36:25+00:00    47
2021-05-22 20:40:31+00:00    48
2021-05-23 01:08:11+00:00    49
2021-05-23 05:35:48+00:00    50
2021-05-23 05:39:52+00:00    51
2021-05-23 05:43:42+00:00    52
2021-05-23 10:11:25+00:00    53
2021-05-23 14:39:11+00:00    54
2021-05-23 19:06:55+00:00    55
2021-05-24 14:23:46+00:00    55
2021-05-24 15:16:31+00:00    55
2021-05-24 18:53:55+00:00    55
2021-05-24 18:56:09+00:00    55
2021-05-24 19:13:33+00:00    55
2021-05-25 09:00:19+00:00    55
2021-05-25 09:21:40+00:00    55
2021-05-25 17:55:50+00:00    55
2021-05-26 08:05:03+00:00    55
2021-05-26 15:57:31+00:00    55
2021-05-27 09:43:11+00:00    55
2021-05-27 10:04:44+00:00    55
2021-05-27 10:52:07+00:00    55
2021-05-27 11:06:04+00:00    55
2021-05-28 07:07:20+00:00    55
2021-05-28 08:22:46+00:00    56
2021-05-28 11:36:18+00:00    56
2021-05-28 11:37:31+00:00    56
2021-05-28 12:47:40+00:00    56
2021-05-28 15:50:04+00:00    56
2021-05-28 15:54:33+00:00    56
2021-05-28 15:57:19+00:00    56
2021-05-28 16:00:15+00:00    56
2021-05-28 16:00:46+00:00    56
2021-05-28 16:04:54+00:00    56
2021-05-28 16:40:08+00:00    56
2021-05-28 16:50:28+00:00    56
2021-05-28 20:02:55+00:00    56
2021-05-28 21:05:29+00:00    56
2021-05-31 09:24:07+00:00    56
2021-05-31 09:30:50+00:00    56
2021-05-31 09:33:05+00:00    56
2021-05-31 10:32:09+00:00    56
2021-05-31 10:51:48+00:00    56
2021-05-31 11:02:29+00:00    57
2021-05-31 11:04:13+00:00    58
2021-05-31 11:07:29+00:00    58
2021-05-31 11:11:27+00:00    58
2021-05-31 11:13:11+00:00    58
2021-05-31 11:14:13+00:00    58
2021-05-31 11:31:17+00:00    58
2021-05-31 11:36:07+00:00    58
2021-05-31 11:38:00+00:00    58
2021-05-31 11:39:54+00:00    58
2021-05-31 11:45:26+00:00    58
2021-05-31 12:36:27+00:00    58
2021-05-31 13:36:06+00:00    59
2021-06-01 14:59:51+00:00    59
2021-06-01 17:06:11+00:00    60
2021-06-01 17:41:41+00:00    60
2021-06-02 14:03:35+00:00    60
2021-06-02 15:55:08+00:00    60
2021-06-02 15:57:22+00:00    60
2021-06-03 08:19:52+00:00    60
2021-06-04 10:03:15+00:00    61
2021-06-04 10:17:44+00:00    61
2021-06-04 10:27:33+00:00    61
2021-06-04 12:01:02+00:00    61
2021-06-04 12:10:21+00:00    61
Name: not_dup, dtype: int32

In [39]:
total_processes = len(df_processes["entityId"].unique())
total_processes

61

In [40]:
total_entities = df_processes["processId"].count()
total_entities

166

In [41]:
df_processes.head()

,creationTime,endBlock,startBlock,entityId,processId,blocks,proccess_duration_d,creationTime_ts,endingTime_ts,votes_count
0,2021-05-12T15:23:16Z,541,41,359e67ac4c5311cbd6571a20eaf6e879a466d154,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,500,0.03,2021-05-12 15:23:16+00:00,2021-05-12 16:13:16+00:00,200.00
1,2021-05-12T15:26:01Z,71897,317,f0f8d83cdab2f9514bef0319f1b434267be36b5c,631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf63...,71580,4.97,2021-05-12 15:26:01+00:00,2021-05-17 14:44:01+00:00,3.00
2,2021-05-12T15:26:01Z,110178,40945,f0f8d83cdab2f9514bef0319f1b434267be36b5c,fe20607cf3f94060b3edc5d2ece161557d7359d10eb84f...,69233,4.81,2021-05-12 15:26:01+00:00,2021-05-17 10:49:19+00:00,1.00
3,2021-05-12T15:26:01Z,110179,39553,f0f8d83cdab2f9514bef0319f1b434267be36b5c,bf022de42ef2d7a5f9d9b2737843dfc88cf93253966124...,70626,4.90,2021-05-12 15:26:01+00:00,2021-05-17 13:08:37+00:00,0.00
4,2021-05-12T15:26:01Z,168676,43325,f0f8d83cdab2f9514bef0319f1b434267be36b5c,853f582a39dbb70c48468a1685fac0d9b901a3014a75eb...,125351,8.70,2021-05-12 15:26:01+00:00,2021-05-21 08:21:07+00:00,2.00

In [42]:
total_votes = df_processes["votes_count"].sum()
total_votes

30544.0

- Cumulate votes

### Check graphs

In [44]:
name = "Total processes evolution"
fig = go.Figure(go.Indicator(
    mode = "number+delta",
    value = total_processes,
    delta = {"reference": processes_evol[-3], "valueformat": ".0f"},
    domain = {'y': [0, 1], 'x': [0.25, 0.75]}))

fig.add_trace(go.Scatter(y=processes_evol, 
                         marker_color="rgba(0, 255, 255, .8)", 
                         name=name,
                         x=processes_evol.index
                        ))

fig.update_layout(title_text=name)
fig.show()

In [45]:
name = "Total entities evolution"
fig = go.Figure(go.Indicator(
    mode = "number+delta",
    value = total_entities,
    delta = {"reference": entities_evol[-1], "valueformat": ".0f"},
    domain = {'y': [0, 1], 'x': [0.25, 0.75]}))

fig.add_trace(go.Scatter(y=entities_evol, 
                         marker_color="rgba(0, 255, 255, .8)", 
                         name=name,
                         x=entities_evol.index
                        ))

fig.update_layout(title_text=name)
fig.show()

In [46]:
name = "Total Votes evolution"
fig = go.Figure(go.Indicator(
    mode = "number+delta",
    value = total_votes,
    delta = {"reference": votes_evol[-3], "valueformat": ".0f"},
    
    domain = {'y': [0, 1], 'x': [0.25, 0.75]}))

fig.add_trace(go.Scatter(y=votes_evol, 
                         marker_color="rgba(0, 255, 255, .8)", 
                         name=name,
                         x=votes_evol.index
                        ))

fig.update_layout(title_text=name)
fig.show()

In [47]:
name = "Total Votes evolution"
fig = go.Figure(go.Indicator(
    mode = "number+delta",
    value = total_votes,
    delta = {"reference": votes_evol[-3], "valueformat": ".0f"},
    domain = {'y': [0, 1], 'x': [0.25, 0.75]}))

fig.add_trace(go.Scatter(y=votes_evol, 
                         marker_color="rgba(0, 255, 255, .8)", 
                         name=name,
                         x=votes_evol.index
                        ))

fig.update_layout(title_text=name)
fig.show()

In [48]:
df_processes.head()

,creationTime,endBlock,startBlock,entityId,processId,blocks,proccess_duration_d,creationTime_ts,endingTime_ts,votes_count
0,2021-05-12T15:23:16Z,541,41,359e67ac4c5311cbd6571a20eaf6e879a466d154,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,500,0.03,2021-05-12 15:23:16+00:00,2021-05-12 16:13:16+00:00,200.00
1,2021-05-12T15:26:01Z,71897,317,f0f8d83cdab2f9514bef0319f1b434267be36b5c,631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf63...,71580,4.97,2021-05-12 15:26:01+00:00,2021-05-17 14:44:01+00:00,3.00
2,2021-05-12T15:26:01Z,110178,40945,f0f8d83cdab2f9514bef0319f1b434267be36b5c,fe20607cf3f94060b3edc5d2ece161557d7359d10eb84f...,69233,4.81,2021-05-12 15:26:01+00:00,2021-05-17 10:49:19+00:00,1.00
3,2021-05-12T15:26:01Z,110179,39553,f0f8d83cdab2f9514bef0319f1b434267be36b5c,bf022de42ef2d7a5f9d9b2737843dfc88cf93253966124...,70626,4.90,2021-05-12 15:26:01+00:00,2021-05-17 13:08:37+00:00,0.00
4,2021-05-12T15:26:01Z,168676,43325,f0f8d83cdab2f9514bef0319f1b434267be36b5c,853f582a39dbb70c48468a1685fac0d9b901a3014a75eb...,125351,8.70,2021-05-12 15:26:01+00:00,2021-05-21 08:21:07+00:00,2.00

In [49]:
df_processes["startBlock"].min()

41

In [50]:
df_processes["creationTime_ts"].describe(datetime_is_numeric=True)

count                                    166
mean     2021-05-21 23:51:51.349397504+00:00
min                2021-05-12 15:23:16+00:00
25%      2021-05-13 21:24:07.249999872+00:00
50%                2021-05-21 10:33:47+00:00
75%      2021-05-28 11:37:12.750000128+00:00
max                2021-06-04 12:10:21+00:00
Name: creationTime_ts, dtype: object

In [51]:
cols = ["blocks", "proccess_duration_d", "votes_count"]

In [52]:
for col in cols:
    display(df_processes[col].describe().to_frame().round(3))

          blocks
count     166.00
mean    40803.50
std    165166.25
min         6.00
25%       351.00
50%      2433.50
75%     50140.00
max   2038399.00

       proccess_duration_d
count               166.00
mean                  2.83
std                  11.47
min                   0.00
25%                   0.02
50%                   0.17
75%                   3.48
max                 141.56

       votes_count
count       166.00
mean        184.00
std        1305.46
min           0.00
25%           0.00
50%           0.00
75%           0.00
max        9932.00

## Envelopes

In [53]:
df_envelopes.head()

,height,nullifier,process_id,vote_ts
0,42,00c5a14b3aa62f810fd829e076fd8b46d52fe5a709a738...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
1,42,012de59c7121f8f9d97edcfc43b7504c7e89a9312bc6ac...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
2,42,01be3123076729594d89e457a46a7b3751b3fd25f1ef29...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
3,42,020a34edc52b6d5281580fea3857dfc8bce9a322984b15...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
4,42,0234a78af57502e716ac6ca9616359f660cdf76b33febb...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00

In [54]:
votes_per_day = df_envelopes.groupby(pd.Grouper(key='vote_ts',freq='D'))["nullifier"].count()
fig = px.line(votes_per_day)
fig.update_layout(title_text="votes_per_day")
fig.show();

In [55]:
votes_per_day_hour = df_envelopes.groupby(pd.Grouper(key='vote_ts',freq='H'))["nullifier"].count()
fig = px.line(votes_per_day_hour)
fig.update_layout(title_text="votes_per_day_hour")
fig.show();

In [56]:
votes_per_weekday = df_envelopes.groupby(df_envelopes['vote_ts'].dt.weekday)["nullifier"].count()
fig = px.line(votes_per_weekday)
fig.update_layout(title_text="votes_per_weekday")
fig.show();

In [57]:
votes_per_hour = df_envelopes.groupby(df_envelopes['vote_ts'].dt.hour)["nullifier"].count()
fig = px.line(votes_per_hour)
fig.update_layout(title_text="votes_per_hour")
fig.show();

In [58]:
votes_per_weekday = df_envelopes.groupby(df_envelopes['vote_ts'].dt.weekday)["nullifier"].count()
fig = px.line(votes_per_weekday)
fig.update_layout(title_text="votes_per_weekday")
fig.show();

- add weight
- Time series
  - process starting per date
  - open processes per date
  - aggs per week day
  - aggs per day