# Aragon Association
## Vocdoni

In [59]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://assets.website-files.com/5e997428d0f2eb13a90aec8c/5ea0200074850783b428f55a_graph02.svg")

In [207]:
from _utils.voc_const import *
from _const import *
from datetime import timedelta
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
import plotly.express as px
import plotly.io as pio
import plotly.graph_objects as go
pio.renderers.default = 'iframe_connected'

## Import collections

In [2]:
from _utils._mongo import col_processes, col_envelopes

In [3]:
processes = col_processes.find()

### Transform to pandas DataFrame

In [4]:
processes = [x for x in processes]

In [5]:
processes[:3]

[{'_id': ObjectId('60ba2296f805dbfa5ff64d26'),
  'creationTime': '2021-05-12T15:23:16Z',
  'endBlock': 541,
  'startBlock': 41,
  'entityId': '359e67ac4c5311cbd6571a20eaf6e879a466d154',
  'processId': '53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407852d56cf8afb4fcde'},
 {'_id': ObjectId('60ba2296f805dbfa5ff64d27'),
  'creationTime': '2021-05-12T15:26:01Z',
  'endBlock': 71897,
  'startBlock': 317,
  'entityId': 'f0f8d83cdab2f9514bef0319f1b434267be36b5c',
  'processId': '631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf6382b29cf1fe6037c1f6'},
 {'_id': ObjectId('60ba2296f805dbfa5ff64d28'),
  'creationTime': '2021-05-12T15:26:01Z',
  'endBlock': 110178,
  'startBlock': 40945,
  'entityId': 'f0f8d83cdab2f9514bef0319f1b434267be36b5c',
  'processId': 'fe20607cf3f94060b3edc5d2ece161557d7359d10eb84fb8c25efec057dd1fb7'}]

In [6]:
df_processes = pd.DataFrame(processes)

In [7]:
df_processes.head()

,_id,creationTime,endBlock,startBlock,entityId,processId
0,60ba2296f805dbfa5ff64d26,2021-05-12T15:23:16Z,541,41,359e67ac4c5311cbd6571a20eaf6e879a466d154,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...
1,60ba2296f805dbfa5ff64d27,2021-05-12T15:26:01Z,71897,317,f0f8d83cdab2f9514bef0319f1b434267be36b5c,631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf63...
2,60ba2296f805dbfa5ff64d28,2021-05-12T15:26:01Z,110178,40945,f0f8d83cdab2f9514bef0319f1b434267be36b5c,fe20607cf3f94060b3edc5d2ece161557d7359d10eb84f...
3,60ba2296f805dbfa5ff64d29,2021-05-12T15:26:01Z,110179,39553,f0f8d83cdab2f9514bef0319f1b434267be36b5c,bf022de42ef2d7a5f9d9b2737843dfc88cf93253966124...
4,60ba2296f805dbfa5ff64d2a,2021-05-12T15:26:01Z,168676,43325,f0f8d83cdab2f9514bef0319f1b434267be36b5c,853f582a39dbb70c48468a1685fac0d9b901a3014a75eb...

In [8]:
df_processes.tail()

,_id,creationTime,endBlock,startBlock,entityId,processId
161,60ba2296f805dbfa5ff64dc7,2021-06-04T10:03:15Z,382342,189112,29dc4923fe62cbc28b94c2c075a6e68f040f7644,3ca3595a19db17534ddc2f787c2659e4a1e51777f9d2e0...
162,60ba2296f805dbfa5ff64dc8,2021-06-04T10:17:44Z,378427,189199,29dc4923fe62cbc28b94c2c075a6e68f040f7644,be5b63e10fcb61743800922adbfa4a5fe9043d3ab77f8d...
163,60ba2296f805dbfa5ff64dc9,2021-06-04T10:27:33Z,378549,189246,29dc4923fe62cbc28b94c2c075a6e68f040f7644,fa0004a660ace49eb25b137d92a726f9622b146df72b90...
164,60ba2296f805dbfa5ff64dca,2021-06-04T12:01:02Z,193231,190097,f0f8d83cdab2f9514bef0319f1b434267be36b5c,b9cdd244f0c0e697b67020e62ac6503bef8cd5c0d13b19...
165,60ba2296f805dbfa5ff64dcb,2021-06-04T12:10:21Z,209937,189828,f0f8d83cdab2f9514bef0319f1b434267be36b5c,8eab28581e693b0f94ad01284eb47d8a4035ae01f36d14...

In [9]:
df_processes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           166 non-null    object
 1   creationTime  166 non-null    object
 2   endBlock      166 non-null    int64
 3   startBlock    166 non-null    int64
 4   entityId      166 non-null    object
 5   processId     166 non-null    object
dtypes: int64(2), object(4)
memory usage: 7.9+ KB

There are no null values, being `startBlock` and `endBlock` integer type.

### Create blocks column
So as to be able to calculate `proccess_duration`

In [10]:
df_processes["blocks"] = df_processes["endBlock"] - df_processes["startBlock"]

In [11]:
df_processes["proccess_duration_d"] = (df_processes["blocks"] 
                                       / AVG_BLOCK_TIME_SECS # seconds
                                       / 60 # minutes
                                       / 24 # days
                                      )

In [58]:
df_processes["proccess_duration_d"].describe()

count    166.000000
mean       2.833576
std       11.469878
min        0.000417
25%        0.024375
50%        0.168993
75%        3.481944
max      141.555486
Name: proccess_duration_d, dtype: float64

### Transform `creationTime` to datetime

In [12]:
df_processes["creationTime_ts"] = pd.to_datetime(df_processes["creationTime"])

In [78]:
MIN_KNOWN_DATE = df_processes["creationTime_ts"].min()
MIN_KNOWN_DATE

Timestamp('2021-05-12 15:23:16+0000', tz='UTC')

In [13]:
df_processes[["creationTime", "creationTime_ts"]].head()

           creationTime           creationTime_ts
0  2021-05-12T15:23:16Z 2021-05-12 15:23:16+00:00
1  2021-05-12T15:26:01Z 2021-05-12 15:26:01+00:00
2  2021-05-12T15:26:01Z 2021-05-12 15:26:01+00:00
3  2021-05-12T15:26:01Z 2021-05-12 15:26:01+00:00
4  2021-05-12T15:26:01Z 2021-05-12 15:26:01+00:00

In [46]:
df_processes["endingTime_ts"] = df_processes["creationTime_ts"] + df_processes["proccess_duration_d"].apply(lambda x: timedelta(days=x))
df_processes[["endingTime_ts", "creationTime_ts", "proccess_duration_d"]].head()

              endingTime_ts           creationTime_ts  proccess_duration_d
0 2021-05-12 16:13:16+00:00 2021-05-12 15:23:16+00:00             0.034722
1 2021-05-17 14:44:01+00:00 2021-05-12 15:26:01+00:00             4.970833
2 2021-05-17 10:49:19+00:00 2021-05-12 15:26:01+00:00             4.807847
3 2021-05-17 13:08:37+00:00 2021-05-12 15:26:01+00:00             4.904583
4 2021-05-21 08:21:07+00:00 2021-05-12 15:26:01+00:00             8.704931

In [60]:
df_processes.head()

,_id,creationTime,endBlock,startBlock,entityId,processId,blocks,proccess_duration_d,creationTime_ts,endingTime_ts
0,60ba2296f805dbfa5ff64d26,2021-05-12T15:23:16Z,541,41,359e67ac4c5311cbd6571a20eaf6e879a466d154,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,500,0.034722,2021-05-12 15:23:16+00:00,2021-05-12 16:13:16+00:00
1,60ba2296f805dbfa5ff64d27,2021-05-12T15:26:01Z,71897,317,f0f8d83cdab2f9514bef0319f1b434267be36b5c,631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf63...,71580,4.970833,2021-05-12 15:26:01+00:00,2021-05-17 14:44:01+00:00
2,60ba2296f805dbfa5ff64d28,2021-05-12T15:26:01Z,110178,40945,f0f8d83cdab2f9514bef0319f1b434267be36b5c,fe20607cf3f94060b3edc5d2ece161557d7359d10eb84f...,69233,4.807847,2021-05-12 15:26:01+00:00,2021-05-17 10:49:19+00:00
3,60ba2296f805dbfa5ff64d29,2021-05-12T15:26:01Z,110179,39553,f0f8d83cdab2f9514bef0319f1b434267be36b5c,bf022de42ef2d7a5f9d9b2737843dfc88cf93253966124...,70626,4.904583,2021-05-12 15:26:01+00:00,2021-05-17 13:08:37+00:00
4,60ba2296f805dbfa5ff64d2a,2021-05-12T15:26:01Z,168676,43325,f0f8d83cdab2f9514bef0319f1b434267be36b5c,853f582a39dbb70c48468a1685fac0d9b901a3014a75eb...,125351,8.704931,2021-05-12 15:26:01+00:00,2021-05-21 08:21:07+00:00

---

In [47]:
if CACHE_ENVELOPES:
    from data.envelopes import envelopes

In [48]:
len(envelopes)

144

In [49]:
envelopes[4]

{'id': '123',
 'response': {'envelopes': [{'height': 154478,
    'nullifier': '3d0714498cf73a72e3b51a9df2b212043e36dd4b8cd82ef92ef5a4b2db16eff2',
    'process_id': '853f582a39dbb70c48468a1685fac0d9b901a3014a75eb25c006735fd62c27ad',
    'tx_hash': 'e7e797dbdcc90d833db2ca84f386fa73786050c4b5862b4208ac8124c623ac61',
    'tx_index': 0},
   {'height': 156369,
    'nullifier': '120e06d4e2530faac4a998e5a99d4638690537fdd54d66c6231c1c6ebe0c1b12',
    'process_id': '853f582a39dbb70c48468a1685fac0d9b901a3014a75eb25c006735fd62c27ad',
    'tx_hash': '1fea8f0948ae656147bf12422449518a19abf823c43277f585b2bf4e0dccc1e5',
    'tx_index': 0}],
  'ok': True,
  'request': '123',
  'timestamp': 1622822512},
 'signature': 'b0f27a693931120a60e2d8944ba1bf5d71ec3c6f345c21f6026f697b103cf9f958c6ff33fe1338eede567b3081636670d20d4b3e44f860ed0a500c02d32add2a01'}

### Filter needed data from `envelopes`

In [50]:
check = []
envelopes_filtered = []
for e in envelopes:
    r = e.get("response", None)
    _e = r.get("envelopes", None)
    if _e:
        l = (len(_e))
        for _d in _e:
            new = {attr: _d[attr] for attr in ATTR.getEnvelopeList if attr in _d}
            envelopes_filtered.append(new)
        if l == 64:
            check.append(new["process_id"])

In [51]:
check

['53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407852d56cf8afb4fcde',
 '7bbe11efa4597621c26a8b3ea3fe5e3ae1cc457e3b17ea4b5ceb64fd07931199',
 'fbdf7c83153d889d1683ba3c286b2dc5025d1e75a20464acbd1f3b5098111212',
 '16ef4d7af7489d8fbe113e6dcb58e9aeb5deac49a83b9e1efee5770814eacaa8',
 '85f3a5394c7e186ab5172e7a1d1dfa7c5b7e707b06b31c8f36e10e9c670014d2',
 'a5d79fbbd4054e40ebab3278647d7bab83afaecba7535fa2fec3eaad12d18af1',
 'c68f38a67c71869eca9c35dc20b76d9e6bbcbc9d6df699de59938e225322e151']

In [52]:
envelopes_filtered[:3]

[{'height': 42,
  'nullifier': '00c5a14b3aa62f810fd829e076fd8b46d52fe5a709a738c11af65e9b055bc443',
  'process_id': '53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407852d56cf8afb4fcde'},
 {'height': 42,
  'nullifier': '012de59c7121f8f9d97edcfc43b7504c7e89a9312bc6ac4ce3c06ff825531811',
  'process_id': '53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407852d56cf8afb4fcde'},
 {'height': 42,
  'nullifier': '01be3123076729594d89e457a46a7b3751b3fd25f1ef2916c824c95364c66c1c',
  'process_id': '53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407852d56cf8afb4fcde'}]

In [53]:
df_envelopes = pd.DataFrame(envelopes_filtered)

In [54]:
df_envelopes.head()

,height,nullifier,process_id
0,42,00c5a14b3aa62f810fd829e076fd8b46d52fe5a709a738...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...
1,42,012de59c7121f8f9d97edcfc43b7504c7e89a9312bc6ac...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...
2,42,01be3123076729594d89e457a46a7b3751b3fd25f1ef29...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...
3,42,020a34edc52b6d5281580fea3857dfc8bce9a322984b15...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...
4,42,0234a78af57502e716ac6ca9616359f660cdf76b33febb...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...

In [82]:
MIN_KNOWN_DATE

Timestamp('2021-05-12 15:23:16+0000', tz='UTC')

### Estimate timestamp for every envelope

In [86]:
df_envelopes["vote_ts"] = (df_envelopes["height"]  
                           / AVG_BLOCK_TIME_SECS # seconds
                           / 60 # minutes
                           / 24 # days
                          ).apply(lambda x: timedelta(days=x)) + MIN_KNOWN_DATE
df_envelopes["vote_ts"]

0     2021-05-12 15:27:28+00:00
1     2021-05-12 15:27:28+00:00
2     2021-05-12 15:27:28+00:00
3     2021-05-12 15:27:28+00:00
4     2021-05-12 15:27:28+00:00
                 ...
753   2021-05-24 05:13:10+00:00
754   2021-05-25 05:39:58+00:00
755   2021-05-25 18:34:58+00:00
756   2021-05-25 18:43:16+00:00
757   2021-05-25 18:48:04+00:00
Name: vote_ts, Length: 758, dtype: datetime64[ns, UTC]

In [87]:
df_envelopes.tail(30)

,height,nullifier,process_id,vote_ts
728,130125,c2f2dc9702df19d449f4f14f9ca8c80004462acd6bce56...,cfa48e9f7ddc95e82ce257de6d42e4cbf7e9664d48b95b...,2021-05-21 16:15:46+00:00
729,130125,c4cbf19c937ef98887966de3538e743b8e3db2f39ef13b...,cfa48e9f7ddc95e82ce257de6d42e4cbf7e9664d48b95b...,2021-05-21 16:15:46+00:00
730,130125,d0e11fdecea920ba22b06f3c5b4069ed484c1295b7d05d...,cfa48e9f7ddc95e82ce257de6d42e4cbf7e9664d48b95b...,2021-05-21 16:15:46+00:00
731,130125,dc9b777277993f17081fff3c629bb0807eba9fc12ae13c...,cfa48e9f7ddc95e82ce257de6d42e4cbf7e9664d48b95b...,2021-05-21 16:15:46+00:00
732,130125,e7a14a7b0ca83c364f7ae3ac84439a2b0402360815979d...,cfa48e9f7ddc95e82ce257de6d42e4cbf7e9664d48b95b...,2021-05-21 16:15:46+00:00
733,130125,ec66d67c13ddcf2113d648918a4f57cf7faca59eae58bd...,cfa48e9f7ddc95e82ce257de6d42e4cbf7e9664d48b95b...,2021-05-21 16:15:46+00:00
734,130125,f25e9bf643c6e03e9957974bfeed9d0e6bb9bce3b9baea...,cfa48e9f7ddc95e82ce257de6d42e4cbf7e9664d48b95b...,2021-05-21 16:15:46+00:00
735,130125,fa7a00f12c61e1bcb6dc1387d30ab7785d95fa02535402...,cfa48e9f7ddc95e82ce257de6d42e4cbf7e9664d48b95b...,2021-05-21 16:15:46+00:00
736,131271,d809ec4452925864f25e9772aff698fc14e48497c950d7...,5bbe3247155905d6362e9989a0d384be8687fd38860f9a...,2021-05-21 18:10:22+00:00
737,131283,2990f686ccd7a9344f1df7c2fcf59a927e534080788dab...,19cad60187f65d031ac1befac37a9d176ec7ed81d07428...,2021-05-21 18:11:34+00:00
738,134154,0be25f7ea38ef94917050f2d1e26d998259faa82a68588...,660eacc0c71cc409745bf1fb06448fed15bb78910900e5...,2021-05-21 22:58:40+00:00
739,134154,279ddca977e2d3169a06f71fb130a77a85b0aa90c8c511...,660eacc0c71cc409745bf1fb06448fed15bb78910900e5...,2021-05-21 22:58:40+00:00
740,134516,29bd0f7164a8a5711fe0aaf8da8b63dd0da465716c3f75...,06945ea9e3d08756d55967e7e391fd7110b4b658ca17bc...,2021-05-21 23:34:52+00:00
741,134516,451d7a01cd0d289657b2e78f7736cb25ef589e81e81152...,06945ea9e3d08756d55967e7e391fd7110b4b658ca17bc...,2021-05-21 23:34:52+00:00
742,155865,b7ad0e0da8a48b09bb8db3f3a3592859d7fe13f2161eec...,943e65a302080bc3b8e4a4e9c3933adec9668865c06253...,2021-05-23 11:09:46+00:00
743,155871,51003d0c6ba54f34fa66dbca831cbf111609de3ba15665...,c5b72361960775705d27bf083c9eda4c7ad45e98799133...,2021-05-23 11:10:22+00:00
744,156811,0a0f38e4876dc75ba71e492e50ca840f7f9608bc4a9fdb...,d1fcacf797fc2af9d151367205dc37e043b009aedc94ba...,2021-05-23 12:44:22+00:00
745,156055,3932f780584877e3da45689e733ff9c59d03a51128f350...,fca315c4f3a5a2618adb0ba50d62c7c137cd19eaf8828d...,2021-05-23 11:28:46+00:00
746,156088,e9714f7d30ab604c7b26aae4628ca0da635ac07e5e4b25...,d38621046c5e3238be7e9d09f67622730f421bf383d8c2...,2021-05-23 11:32:04+00:00
747,156109,a4df72b5070154532bf85a526e6953af05aadad96ad82e...,9604b96d04c2e3473b185e51f85cc08e677e5667c10091...,2021-05-23 11:34:10+00:00
748,156595,e9273b76ca2b195bba50af60e92ea1c8ab6b706ffd03cf...,bdb17ea989323710038df51953b34db847a9aa21205dab...,2021-05-23 12:22:46+00:00
749,156488,30d7a3828e03604ec4d37bcd6f88d159a77e81f6241e7b...,c837d72b32ec3d413f699a40ba1c7c3413ac544c8cda9c...,2021-05-23 12:12:04+00:00
750,156959,aa1c8b5971abd6d8b78c8bdedbe4fe49245bab525b2749...,3192b11eda79f534e7f8a4450b9f029cc087efde988e4b...,2021-05-23 12:59:10+00:00
751,157007,4d9bb6214526340a0188af50419d3c56c902a52c115f61...,3192b11eda79f534e7f8a4450b9f029cc087efde988e4b...,2021-05-23 13:03:58+00:00
752,174441,428ebcd5681d14bc6cbaee346282c2a33587926dcbeb77...,9997e782d396e92281488bd8ccd9cfd0f8f57ed1430a5d...,2021-05-24 18:07:22+00:00
753,166699,cf3e5e281cc69e3d55d6f55bf0d3823e51721a45693014...,288f52b6bd859455d71ae6c4ecf201fe1268a4e826b728...,2021-05-24 05:13:10+00:00
754,181367,2a57bd3e133a5e29a183b7864154fe18f804787e76d151...,f128b9db8525215da84af8f47afe5bbcac093a55866cb2...,2021-05-25 05:39:58+00:00
755,189117,fe3f89a36222d2d5cdb8fc7419c1209ac609184bf57b23...,3ca3595a19db17534ddc2f787c2659e4a1e51777f9d2e0...,2021-05-25 18:34:58+00:00
756,189200,f2f36df03e5587145ca2bf9f92bcc5058a8ae5c9d4b2a5...,be5b63e10fcb61743800922adbfa4a5fe9043d3ab77f8d...,2021-05-25 18:43:16+00:00
757,189248,c51706f1be7f78d0ae1239dff3354def544154ab45e8d5...,fa0004a660ace49eb25b137d92a726f9622b146df72b90...,2021-05-25 18:48:04+00:00

In [56]:
for col in df_envelopes.columns:
    tmp_col = df_envelopes[col]
    display(tmp_col.value_counts().head(10).to_frame())
    print("Unique values", len(tmp_col.unique()))
    print()

        height
8583        64
8656        64
82513       64
8832        64
8856        64
8598        64
42          64
2240        20
1955        20
130125      20

Unique values 102

                                                    nullifier
121261049bec3df07636c580ba47a9a99a6cc6bf631cd12...          1
d0e11fdecea920ba22b06f3c5b4069ed484c1295b7d05d7...          1
9c567e497d6b3ec658e02edd07bf3ed458831ce4f0fa6d0...          1
105fbc3e18e602ac0a322cff924d6604677a9fa7941990a...          1
0087d51d5c392ae271a8c169730b4ea5f1d9ffe78bafb88...          1
100a01193dbf11b4d2df232ee05b819983aedf64c5beb6f...          1
008a28a369dcf4a67c71b916dbd112ed829b8f363d32b9c...          1
00aa76d586ab8f8af4dc22f1e1e10b2a5f5ade3d749a454...          1
00815710a902029dd35bb00bae042283660a977366548af...          1
010e97ce6055d2906075dd0eb448f2af4cf397e8d7d6615...          1

Unique values 758

                                                    process_id
53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407...          64
a5d79fbbd4054e40ebab3278647d7bab83afaecba7535fa...          64
fbdf7c83153d889d1683ba3c286b2dc5025d1e75a20464a...          64
16ef4d7af7489d8fbe113e6dcb58e9aeb5deac49a83b9e1...          64
7bbe11efa4597621c26a8b3ea3fe5e3ae1cc457e3b17ea4...          64
85f3a5394c7e186ab5172e7a1d1dfa7c5b7e707b06b31c8...          64
c68f38a67c71869eca9c35dc20b76d9e6bbcbc9d6df699d...          64
6bf6707c6379a0792c0daebec1e197b0a9d648fd01d8451...          50
fb7bd01987e1d8bb0ad5eb8b65e26fcbdd56787f33bc9ba...          50
35fb0d73a5092a143a9c628f5f43b10b226cb3f48721a11...          20

Unique values 80

In [57]:
df_tmp = (df_envelopes
        .groupby("process_id")["nullifier"]
        .count()
        .sort_values(ascending=False)
        .to_frame()
        )
display(df_tmp.head(20))

                                                    nullifier
process_id
7bbe11efa4597621c26a8b3ea3fe5e3ae1cc457e3b17ea4...         64
fbdf7c83153d889d1683ba3c286b2dc5025d1e75a20464a...         64
53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407...         64
16ef4d7af7489d8fbe113e6dcb58e9aeb5deac49a83b9e1...         64
a5d79fbbd4054e40ebab3278647d7bab83afaecba7535fa...         64
85f3a5394c7e186ab5172e7a1d1dfa7c5b7e707b06b31c8...         64
c68f38a67c71869eca9c35dc20b76d9e6bbcbc9d6df699d...         64
6bf6707c6379a0792c0daebec1e197b0a9d648fd01d8451...         50
fb7bd01987e1d8bb0ad5eb8b65e26fcbdd56787f33bc9ba...         50
35fb0d73a5092a143a9c628f5f43b10b226cb3f48721a11...         20
cfa48e9f7ddc95e82ce257de6d42e4cbf7e9664d48b95ba...         20
48dd26ca7371e65b3e9e21f9b51a5bcc82c63883b1d144b...         20
f3f42e1db4a38c78956fd5284c488f0ddca6f2996ae279e...         20
60ffb0579efe26c8ac68f6b15fc7467846db9b5770ba72f...         10
7593715d59feba44813eb62f4dcbf0b1f7a349216b22df6...         10
ded3fc4a704db310969c6d0319570bc551f97e554cc3086...         10
9e6460ca76c20d69a1fbc1b0cf3bbf58d9d16091508e41d...         10
d8a59033607aa17bc678412c6c7c2cee9c84edeaf3e7f44...          4
168c95cd8efad7400ca4ace2aeb2319bed014e25960b012...          4
631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf638...          3

In [98]:
df_envelopes.head()

,height,nullifier,process_id,vote_ts
0,42,00c5a14b3aa62f810fd829e076fd8b46d52fe5a709a738...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
1,42,012de59c7121f8f9d97edcfc43b7504c7e89a9312bc6ac...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
2,42,01be3123076729594d89e457a46a7b3751b3fd25f1ef29...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
3,42,020a34edc52b6d5281580fea3857dfc8bce9a322984b15...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
4,42,0234a78af57502e716ac6ca9616359f660cdf76b33febb...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00

In [96]:
votes_dict = {process_id : vote_count[0] for process_id, vote_count in df_tmp.iterrows()}

In [103]:
votes_ts_dict = {row[0] : row[1] for index, row in df_envelopes[["process_id", "vote_ts"]].iterrows()}

In [68]:
df_processes["votes_count"] = df_processes["processId"].apply(lambda x: votes_dict.get(x, 0))

In [69]:
df_processes["votes_count"].describe()

count    166.000000
mean       4.566265
std       14.007092
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max       64.000000
Name: votes_count, dtype: float64

In [212]:
votes_evol = df_envelopes.groupby('vote_ts')['nullifier'].count().cumsum(axis=0)
votes_evol.head()

vote_ts
2021-05-12 15:27:28+00:00     64
2021-05-12 15:46:10+00:00     65
2021-05-12 18:38:46+00:00     85
2021-05-12 18:38:52+00:00    105
2021-05-12 18:39:04+00:00    115
Name: nullifier, dtype: int64

In [228]:
processes_evol = df_processes.groupby('creationTime_ts')['_id'].count().cumsum(axis=0)
processes_evol.head()

creationTime_ts
2021-05-12 15:23:16+00:00    1
2021-05-12 15:26:01+00:00    5
2021-05-12 15:31:01+00:00    6
2021-05-12 15:36:53+00:00    7
2021-05-12 15:40:41+00:00    8
Name: _id, dtype: int64

In [263]:
df_processes['not_dup'] = 1 - df_processes["entityId"].duplicated()
entities_evol = df_processes.groupby('creationTime_ts')['not_dup'].sum().cumsum()
df_processes.drop('not_dup', inplace=True, axis=1)

In [270]:
entities_evol

creationTime_ts
2021-05-12 15:23:16+00:00     1
2021-05-12 15:26:01+00:00     2
2021-05-12 15:31:01+00:00     2
2021-05-12 15:36:53+00:00     2
2021-05-12 15:40:41+00:00     2
2021-05-12 15:48:16+00:00     3
2021-05-12 15:52:15+00:00     3
2021-05-12 20:46:08+00:00     3
2021-05-12 20:52:10+00:00     4
2021-05-12 21:08:22+00:00     5
2021-05-12 21:42:41+00:00     6
2021-05-12 21:44:03+00:00     7
2021-05-13 02:28:49+00:00     8
2021-05-13 12:41:46+00:00     9
2021-05-13 13:15:00+00:00    10
2021-05-13 13:18:47+00:00    10
2021-05-13 14:33:59+00:00    10
2021-05-13 14:35:11+00:00    10
2021-05-13 14:50:01+00:00    11
2021-05-13 15:23:23+00:00    11
2021-05-13 15:48:23+00:00    12
2021-05-13 15:49:25+00:00    13
2021-05-13 15:50:17+00:00    14
2021-05-13 15:51:19+00:00    14
2021-05-13 15:54:36+00:00    14
2021-05-13 15:56:09+00:00    15
2021-05-13 15:57:11+00:00    16
2021-05-13 15:59:56+00:00    17
2021-05-13 16:10:00+00:00    18
2021-05-13 16:45:46+00:00    19
2021-05-13 16:50:40+00:00    20
2021-05-13 16:53:06+00:00    21
2021-05-13 17:53:31+00:00    22
2021-05-13 18:00:46+00:00    23
2021-05-13 18:03:08+00:00    24
2021-05-13 18:05:47+00:00    25
2021-05-13 18:07:39+00:00    26
2021-05-13 18:23:03+00:00    27
2021-05-13 21:08:24+00:00    28
2021-05-13 22:11:17+00:00    28
2021-05-14 00:52:17+00:00    28
2021-05-14 11:11:55+00:00    29
2021-05-14 11:16:55+00:00    30
2021-05-14 14:16:12+00:00    31
2021-05-14 15:19:30+00:00    31
2021-05-14 21:47:07+00:00    32
2021-05-14 22:05:03+00:00    32
2021-05-14 22:19:32+00:00    32
2021-05-14 23:22:16+00:00    33
2021-05-17 13:59:36+00:00    33
2021-05-17 17:02:07+00:00    34
2021-05-17 20:08:58+00:00    34
2021-05-18 09:37:08+00:00    35
2021-05-18 15:55:38+00:00    35
2021-05-18 16:00:07+00:00    35
2021-05-19 14:08:31+00:00    36
2021-05-19 14:35:14+00:00    36
2021-05-19 16:08:47+00:00    36
2021-05-19 17:43:34+00:00    36
2021-05-20 10:42:14+00:00    37
2021-05-20 10:46:23+00:00    37
2021-05-20 10:50:00+00:00    37
2021-05-20 10:58:16+00:00    37
2021-05-20 11:06:33+00:00    37
2021-05-20 16:52:33+00:00    37
2021-05-21 09:18:52+00:00    37
2021-05-21 09:34:30+00:00    37
2021-05-21 09:38:28+00:00    37
2021-05-21 09:39:50+00:00    37
2021-05-21 09:41:44+00:00    37
2021-05-21 09:42:36+00:00    37
2021-05-21 09:42:57+00:00    37
2021-05-21 09:45:52+00:00    37
2021-05-21 09:46:54+00:00    37
2021-05-21 09:48:07+00:00    37
2021-05-21 09:52:15+00:00    37
2021-05-21 09:53:27+00:00    37
2021-05-21 09:54:39+00:00    37
2021-05-21 10:02:35+00:00    37
2021-05-21 10:14:18+00:00    37
2021-05-21 10:53:16+00:00    37
2021-05-21 10:58:36+00:00    37
2021-05-21 11:02:14+00:00    37
2021-05-21 14:45:06+00:00    37
2021-05-22 09:32:29+00:00    37
2021-05-22 09:48:21+00:00    37
2021-05-22 14:35:00+00:00    38
2021-05-22 15:00:27+00:00    39
2021-05-22 15:07:52+00:00    40
2021-05-22 16:40:06+00:00    41
2021-05-22 20:23:40+00:00    42
2021-05-22 20:26:03+00:00    43
2021-05-22 20:27:29+00:00    44
2021-05-22 20:30:35+00:00    45
2021-05-22 20:33:29+00:00    46
2021-05-22 20:36:25+00:00    47
2021-05-22 20:40:31+00:00    48
2021-05-23 01:08:11+00:00    49
2021-05-23 05:35:48+00:00    50
2021-05-23 05:39:52+00:00    51
2021-05-23 05:43:42+00:00    52
2021-05-23 10:11:25+00:00    53
2021-05-23 14:39:11+00:00    54
2021-05-23 19:06:55+00:00    55
2021-05-24 14:23:46+00:00    55
2021-05-24 15:16:31+00:00    55
2021-05-24 18:53:55+00:00    55
2021-05-24 18:56:09+00:00    55
2021-05-24 19:13:33+00:00    55
2021-05-25 09:00:19+00:00    55
2021-05-25 09:21:40+00:00    55
2021-05-25 17:55:50+00:00    55
2021-05-26 08:05:03+00:00    55
2021-05-26 15:57:31+00:00    55
2021-05-27 09:43:11+00:00    55
2021-05-27 10:04:44+00:00    55
2021-05-27 10:52:07+00:00    55
2021-05-27 11:06:04+00:00    55
2021-05-28 07:07:20+00:00    55
2021-05-28 08:22:46+00:00    56
2021-05-28 11:36:18+00:00    56
2021-05-28 11:37:31+00:00    56
2021-05-28 12:47:40+00:00    56
2021-05-28 15:50:04+00:00    56
2021-05-28 15:54:33+00:00    56
2021-05-28 15:57:19+00:00    56
2021-05-28 16:00:15+00:00    56
2021-05-28 16:00:46+00:00    56
2021-05-28 16:04:54+00:00    56
2021-05-28 16:40:08+00:00    56
2021-05-28 16:50:28+00:00    56
2021-05-28 20:02:55+00:00    56
2021-05-28 21:05:29+00:00    56
2021-05-31 09:24:07+00:00    56
2021-05-31 09:30:50+00:00    56
2021-05-31 09:33:05+00:00    56
2021-05-31 10:32:09+00:00    56
2021-05-31 10:51:48+00:00    56
2021-05-31 11:02:29+00:00    57
2021-05-31 11:04:13+00:00    58
2021-05-31 11:07:29+00:00    58
2021-05-31 11:11:27+00:00    58
2021-05-31 11:13:11+00:00    58
2021-05-31 11:14:13+00:00    58
2021-05-31 11:31:17+00:00    58
2021-05-31 11:36:07+00:00    58
2021-05-31 11:38:00+00:00    58
2021-05-31 11:39:54+00:00    58
2021-05-31 11:45:26+00:00    58
2021-05-31 12:36:27+00:00    58
2021-05-31 13:36:06+00:00    59
2021-06-01 14:59:51+00:00    59
2021-06-01 17:06:11+00:00    60
2021-06-01 17:41:41+00:00    60
2021-06-02 14:03:35+00:00    60
2021-06-02 15:55:08+00:00    60
2021-06-02 15:57:22+00:00    60
2021-06-03 08:19:52+00:00    60
2021-06-04 10:03:15+00:00    61
2021-06-04 10:17:44+00:00    61
2021-06-04 10:27:33+00:00    61
2021-06-04 12:01:02+00:00    61
2021-06-04 12:10:21+00:00    61
Name: not_dup, dtype: int32

In [271]:
total_processes = len(df_processes["entityId"].unique())
total_processes

61

In [272]:
total_entities = df_processes["processId"].count()
total_entities

166

In [273]:
df_processes.head()

,_id,creationTime,endBlock,startBlock,entityId,processId,blocks,proccess_duration_d,creationTime_ts,endingTime_ts,votes_count
0,60ba2296f805dbfa5ff64d26,2021-05-12T15:23:16Z,541,41,359e67ac4c5311cbd6571a20eaf6e879a466d154,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,500,0.03,2021-05-12 15:23:16+00:00,2021-05-12 16:13:16+00:00,64
1,60ba2296f805dbfa5ff64d27,2021-05-12T15:26:01Z,71897,317,f0f8d83cdab2f9514bef0319f1b434267be36b5c,631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf63...,71580,4.97,2021-05-12 15:26:01+00:00,2021-05-17 14:44:01+00:00,3
2,60ba2296f805dbfa5ff64d28,2021-05-12T15:26:01Z,110178,40945,f0f8d83cdab2f9514bef0319f1b434267be36b5c,fe20607cf3f94060b3edc5d2ece161557d7359d10eb84f...,69233,4.81,2021-05-12 15:26:01+00:00,2021-05-17 10:49:19+00:00,1
3,60ba2296f805dbfa5ff64d29,2021-05-12T15:26:01Z,110179,39553,f0f8d83cdab2f9514bef0319f1b434267be36b5c,bf022de42ef2d7a5f9d9b2737843dfc88cf93253966124...,70626,4.90,2021-05-12 15:26:01+00:00,2021-05-17 13:08:37+00:00,0
4,60ba2296f805dbfa5ff64d2a,2021-05-12T15:26:01Z,168676,43325,f0f8d83cdab2f9514bef0319f1b434267be36b5c,853f582a39dbb70c48468a1685fac0d9b901a3014a75eb...,125351,8.70,2021-05-12 15:26:01+00:00,2021-05-21 08:21:07+00:00,2

In [274]:
total_votes = df_processes["votes_count"].sum()
total_votes

758

- Cumulate votes

In [276]:
processes_evol

creationTime_ts
2021-05-12 15:23:16+00:00      1
2021-05-12 15:26:01+00:00      5
2021-05-12 15:31:01+00:00      6
2021-05-12 15:36:53+00:00      7
2021-05-12 15:40:41+00:00      8
2021-05-12 15:48:16+00:00      9
2021-05-12 15:52:15+00:00     10
2021-05-12 20:46:08+00:00     11
2021-05-12 20:52:10+00:00     12
2021-05-12 21:08:22+00:00     13
2021-05-12 21:42:41+00:00     14
2021-05-12 21:44:03+00:00     15
2021-05-13 02:28:49+00:00     16
2021-05-13 12:41:46+00:00     17
2021-05-13 13:15:00+00:00     18
2021-05-13 13:18:47+00:00     19
2021-05-13 14:33:59+00:00     20
2021-05-13 14:35:11+00:00     21
2021-05-13 14:50:01+00:00     22
2021-05-13 15:23:23+00:00     23
2021-05-13 15:48:23+00:00     24
2021-05-13 15:49:25+00:00     25
2021-05-13 15:50:17+00:00     26
2021-05-13 15:51:19+00:00     27
2021-05-13 15:54:36+00:00     28
2021-05-13 15:56:09+00:00     29
2021-05-13 15:57:11+00:00     30
2021-05-13 15:59:56+00:00     31
2021-05-13 16:10:00+00:00     32
2021-05-13 16:45:46+00:00     33
2021-05-13 16:50:40+00:00     34
2021-05-13 16:53:06+00:00     35
2021-05-13 17:53:31+00:00     36
2021-05-13 18:00:46+00:00     37
2021-05-13 18:03:08+00:00     38
2021-05-13 18:05:47+00:00     39
2021-05-13 18:07:39+00:00     40
2021-05-13 18:23:03+00:00     41
2021-05-13 21:08:24+00:00     42
2021-05-13 22:11:17+00:00     43
2021-05-14 00:52:17+00:00     44
2021-05-14 11:11:55+00:00     45
2021-05-14 11:16:55+00:00     46
2021-05-14 14:16:12+00:00     47
2021-05-14 15:19:30+00:00     48
2021-05-14 21:47:07+00:00     49
2021-05-14 22:05:03+00:00     50
2021-05-14 22:19:32+00:00     51
2021-05-14 23:22:16+00:00     52
2021-05-17 13:59:36+00:00     53
2021-05-17 17:02:07+00:00     54
2021-05-17 20:08:58+00:00     55
2021-05-18 09:37:08+00:00     56
2021-05-18 15:55:38+00:00     57
2021-05-18 16:00:07+00:00     58
2021-05-19 14:08:31+00:00     59
2021-05-19 14:35:14+00:00     60
2021-05-19 16:08:47+00:00     61
2021-05-19 17:43:34+00:00     62
2021-05-20 10:42:14+00:00     63
2021-05-20 10:46:23+00:00     64
2021-05-20 10:50:00+00:00     65
2021-05-20 10:58:16+00:00     66
2021-05-20 11:06:33+00:00     67
2021-05-20 16:52:33+00:00     68
2021-05-21 09:18:52+00:00     69
2021-05-21 09:34:30+00:00     70
2021-05-21 09:38:28+00:00     71
2021-05-21 09:39:50+00:00     72
2021-05-21 09:41:44+00:00     73
2021-05-21 09:42:36+00:00     74
2021-05-21 09:42:57+00:00     75
2021-05-21 09:45:52+00:00     76
2021-05-21 09:46:54+00:00     77
2021-05-21 09:48:07+00:00     78
2021-05-21 09:52:15+00:00     79
2021-05-21 09:53:27+00:00     80
2021-05-21 09:54:39+00:00     81
2021-05-21 10:02:35+00:00     82
2021-05-21 10:14:18+00:00     83
2021-05-21 10:53:16+00:00     84
2021-05-21 10:58:36+00:00     85
2021-05-21 11:02:14+00:00     86
2021-05-21 14:45:06+00:00     87
2021-05-22 09:32:29+00:00     88
2021-05-22 09:48:21+00:00     89
2021-05-22 14:35:00+00:00     90
2021-05-22 15:00:27+00:00     91
2021-05-22 15:07:52+00:00     92
2021-05-22 16:40:06+00:00     93
2021-05-22 20:23:40+00:00     94
2021-05-22 20:26:03+00:00     95
2021-05-22 20:27:29+00:00     96
2021-05-22 20:30:35+00:00     97
2021-05-22 20:33:29+00:00     98
2021-05-22 20:36:25+00:00     99
2021-05-22 20:40:31+00:00    100
2021-05-23 01:08:11+00:00    101
2021-05-23 05:35:48+00:00    102
2021-05-23 05:39:52+00:00    103
2021-05-23 05:43:42+00:00    104
2021-05-23 10:11:25+00:00    105
2021-05-23 14:39:11+00:00    106
2021-05-23 19:06:55+00:00    107
2021-05-24 14:23:46+00:00    108
2021-05-24 15:16:31+00:00    109
2021-05-24 18:53:55+00:00    110
2021-05-24 18:56:09+00:00    111
2021-05-24 19:13:33+00:00    112
2021-05-25 09:00:19+00:00    113
2021-05-25 09:21:40+00:00    114
2021-05-25 17:55:50+00:00    115
2021-05-26 08:05:03+00:00    116
2021-05-26 15:57:31+00:00    117
2021-05-27 09:43:11+00:00    118
2021-05-27 10:04:44+00:00    119
2021-05-27 10:52:07+00:00    120
2021-05-27 11:06:04+00:00    121
2021-05-28 07:07:20+00:00    122
2021-05-28 08:22:46+00:00    123
2021-05-28 11:36:18+00:00    124
2021-05-28 11:37:31+00:00    125
2021-05-28 12:47:40+00:00    126
2021-05-28 15:50:04+00:00    127
2021-05-28 15:54:33+00:00    128
2021-05-28 15:57:19+00:00    129
2021-05-28 16:00:15+00:00    130
2021-05-28 16:00:46+00:00    131
2021-05-28 16:04:54+00:00    132
2021-05-28 16:40:08+00:00    133
2021-05-28 16:50:28+00:00    134
2021-05-28 20:02:55+00:00    135
2021-05-28 21:05:29+00:00    136
2021-05-31 09:24:07+00:00    137
2021-05-31 09:30:50+00:00    138
2021-05-31 09:33:05+00:00    139
2021-05-31 10:32:09+00:00    140
2021-05-31 10:51:48+00:00    141
2021-05-31 11:02:29+00:00    142
2021-05-31 11:04:13+00:00    143
2021-05-31 11:07:29+00:00    144
2021-05-31 11:11:27+00:00    145
2021-05-31 11:13:11+00:00    146
2021-05-31 11:14:13+00:00    147
2021-05-31 11:31:17+00:00    148
2021-05-31 11:36:07+00:00    149
2021-05-31 11:38:00+00:00    150
2021-05-31 11:39:54+00:00    151
2021-05-31 11:45:26+00:00    152
2021-05-31 12:36:27+00:00    153
2021-05-31 13:36:06+00:00    154
2021-06-01 14:59:51+00:00    155
2021-06-01 17:06:11+00:00    156
2021-06-01 17:41:41+00:00    157
2021-06-02 14:03:35+00:00    158
2021-06-02 15:55:08+00:00    159
2021-06-02 15:57:22+00:00    160
2021-06-03 08:19:52+00:00    161
2021-06-04 10:03:15+00:00    162
2021-06-04 10:17:44+00:00    163
2021-06-04 10:27:33+00:00    164
2021-06-04 12:01:02+00:00    165
2021-06-04 12:10:21+00:00    166
Name: _id, dtype: int64

### Check graphs

In [275]:
name = "Total processes evolution"
fig = go.Figure(go.Indicator(
    mode = "number+delta",
    value = total_processes,
    delta = {"reference": processes_evol[-3], "valueformat": ".0f"},
    domain = {'y': [0, 1], 'x': [0.25, 0.75]}))

fig.add_trace(go.Scatter(y=processes_evol, 
                         marker_color="rgba(0, 255, 255, .8)", 
                         name=name,
                         x=processes_evol.index
                        ))

fig.update_layout(title_text=name)
fig.show()

In [267]:
name = "Total entities evolution"
fig = go.Figure(go.Indicator(
    mode = "number+delta",
    value = total_entities,
    delta = {"reference": entities_evol[-1], "valueformat": ".0f"},
    domain = {'y': [0, 1], 'x': [0.25, 0.75]}))

fig.add_trace(go.Scatter(y=entities_evol, 
                         marker_color="rgba(0, 255, 255, .8)", 
                         name=name,
                         x=entities_evol.index
                        ))

fig.update_layout(title_text=name)
fig.show()

In [269]:
name = "Total Votes evolution"
fig = go.Figure(go.Indicator(
    mode = "number+delta",
    value = total_votes,
    delta = {"reference": votes_evol[-3], "valueformat": ".0f"},
    
    domain = {'y': [0, 1], 'x': [0.25, 0.75]}))

fig.add_trace(go.Scatter(y=votes_evol, 
                         marker_color="rgba(0, 255, 255, .8)", 
                         name=name,
                         x=votes_evol.index
                        ))

fig.update_layout(title_text=name)
fig.show()

In [226]:
name = "Total Votes evolution"
fig = go.Figure(go.Indicator(
    mode = "number+delta",
    value = total_votes,
    delta = {"reference": votes_evol[-3], "valueformat": ".0f"},
    domain = {'y': [0, 1], 'x': [0.25, 0.75]}))

fig.add_trace(go.Scatter(y=votes_evol, 
                         marker_color="rgba(0, 255, 255, .8)", 
                         name=name,
                         x=votes_evol.index
                        ))

fig.update_layout(title_text=name)
fig.show()

In [125]:
df_processes.head()

,_id,creationTime,endBlock,startBlock,entityId,processId,blocks,proccess_duration_d,creationTime_ts,endingTime_ts,votes_count
0,60ba2296f805dbfa5ff64d26,2021-05-12T15:23:16Z,541,41,359e67ac4c5311cbd6571a20eaf6e879a466d154,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,500,0.03,2021-05-12 15:23:16+00:00,2021-05-12 16:13:16+00:00,64
1,60ba2296f805dbfa5ff64d27,2021-05-12T15:26:01Z,71897,317,f0f8d83cdab2f9514bef0319f1b434267be36b5c,631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf63...,71580,4.97,2021-05-12 15:26:01+00:00,2021-05-17 14:44:01+00:00,3
2,60ba2296f805dbfa5ff64d28,2021-05-12T15:26:01Z,110178,40945,f0f8d83cdab2f9514bef0319f1b434267be36b5c,fe20607cf3f94060b3edc5d2ece161557d7359d10eb84f...,69233,4.81,2021-05-12 15:26:01+00:00,2021-05-17 10:49:19+00:00,1
3,60ba2296f805dbfa5ff64d29,2021-05-12T15:26:01Z,110179,39553,f0f8d83cdab2f9514bef0319f1b434267be36b5c,bf022de42ef2d7a5f9d9b2737843dfc88cf93253966124...,70626,4.90,2021-05-12 15:26:01+00:00,2021-05-17 13:08:37+00:00,0
4,60ba2296f805dbfa5ff64d2a,2021-05-12T15:26:01Z,168676,43325,f0f8d83cdab2f9514bef0319f1b434267be36b5c,853f582a39dbb70c48468a1685fac0d9b901a3014a75eb...,125351,8.70,2021-05-12 15:26:01+00:00,2021-05-21 08:21:07+00:00,2

In [73]:
df_processes["startBlock"].min()

41

In [77]:
df_processes["creationTime_ts"].describe(datetime_is_numeric=True)

count                                    166
mean     2021-05-21 23:51:51.349397504+00:00
min                2021-05-12 15:23:16+00:00
25%      2021-05-13 21:24:07.249999872+00:00
50%                2021-05-21 10:33:47+00:00
75%      2021-05-28 11:37:12.750000128+00:00
max                2021-06-04 12:10:21+00:00
Name: creationTime_ts, dtype: object

In [110]:
cols = ["blocks", "proccess_duration_d", "votes_count"]

In [123]:
for col in cols:
    display(df_processes[col].describe().to_frame().round(3))

          blocks
count     166.00
mean    40803.50
std    165166.25
min         6.00
25%       351.00
50%      2433.50
75%     50140.00
max   2038399.00

       proccess_duration_d
count               166.00
mean                  2.83
std                  11.47
min                   0.00
25%                   0.02
50%                   0.17
75%                   3.48
max                 141.56

       votes_count
count       166.00
mean          4.57
std          14.01
min           0.00
25%           0.00
50%           0.00
75%           1.00
max          64.00

## Envelopes

In [126]:
df_envelopes.head()

,height,nullifier,process_id,vote_ts
0,42,00c5a14b3aa62f810fd829e076fd8b46d52fe5a709a738...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
1,42,012de59c7121f8f9d97edcfc43b7504c7e89a9312bc6ac...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
2,42,01be3123076729594d89e457a46a7b3751b3fd25f1ef29...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
3,42,020a34edc52b6d5281580fea3857dfc8bce9a322984b15...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00
4,42,0234a78af57502e716ac6ca9616359f660cdf76b33febb...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,2021-05-12 15:27:28+00:00

In [170]:
votes_per_day = df_envelopes.groupby(pd.Grouper(key='vote_ts',freq='D'))["nullifier"].count()
fig = px.line(votes_per_day)
fig.update_layout(title_text="votes_per_day")
fig.show();

In [179]:
votes_per_day_hour = df_envelopes.groupby(pd.Grouper(key='vote_ts',freq='H'))["nullifier"].count()
fig = px.line(votes_per_day_hour)
fig.update_layout(title_text="votes_per_day_hour")
fig.show();

In [178]:
votes_per_weekday = df_envelopes.groupby(df_envelopes['vote_ts'].dt.weekday)["nullifier"].count()
fig = px.line(votes_per_weekday)
fig.update_layout(title_text="votes_per_weekday")
fig.show();

In [177]:
votes_per_hour = df_envelopes.groupby(df_envelopes['vote_ts'].dt.hour)["nullifier"].count()
fig = px.line(votes_per_hour)
fig.update_layout(title_text="votes_per_hour")
fig.show();

In [168]:
votes_per_weekday = df_envelopes.groupby(df_envelopes['vote_ts'].dt.weekday)["nullifier"].count()
fig = px.line(votes_per_weekday)
fig.update_layout(title_text="votes_per_weekday")
fig.show();

- add weight
- Time series
  - process starting per date
  - open processes per date
  - aggs per week day
  - aggs per day