In [59]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://assets.website-files.com/5e997428d0f2eb13a90aec8c/5ea0200074850783b428f55a_graph02.svg")

In [1]:
from _utils.voc_const import *
from _const import *
from datetime import timedelta
import pandas as pd
pd.set_option('display.max_rows', 500)

## Import collections

In [2]:
from _utils._mongo import col_processes, col_envelopes

In [3]:
processes = col_processes.find()

### Transform to pandas DataFrame

In [4]:
processes = [x for x in processes]

In [5]:
processes[:3]

[{'_id': ObjectId('60ba2296f805dbfa5ff64d26'),
  'creationTime': '2021-05-12T15:23:16Z',
  'endBlock': 541,
  'startBlock': 41,
  'entityId': '359e67ac4c5311cbd6571a20eaf6e879a466d154',
  'processId': '53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407852d56cf8afb4fcde'},
 {'_id': ObjectId('60ba2296f805dbfa5ff64d27'),
  'creationTime': '2021-05-12T15:26:01Z',
  'endBlock': 71897,
  'startBlock': 317,
  'entityId': 'f0f8d83cdab2f9514bef0319f1b434267be36b5c',
  'processId': '631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf6382b29cf1fe6037c1f6'},
 {'_id': ObjectId('60ba2296f805dbfa5ff64d28'),
  'creationTime': '2021-05-12T15:26:01Z',
  'endBlock': 110178,
  'startBlock': 40945,
  'entityId': 'f0f8d83cdab2f9514bef0319f1b434267be36b5c',
  'processId': 'fe20607cf3f94060b3edc5d2ece161557d7359d10eb84fb8c25efec057dd1fb7'}]

In [6]:
df_processes = pd.DataFrame(processes)

In [7]:
df_processes.head()

,_id,creationTime,endBlock,startBlock,entityId,processId
0,60ba2296f805dbfa5ff64d26,2021-05-12T15:23:16Z,541,41,359e67ac4c5311cbd6571a20eaf6e879a466d154,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...
1,60ba2296f805dbfa5ff64d27,2021-05-12T15:26:01Z,71897,317,f0f8d83cdab2f9514bef0319f1b434267be36b5c,631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf63...
2,60ba2296f805dbfa5ff64d28,2021-05-12T15:26:01Z,110178,40945,f0f8d83cdab2f9514bef0319f1b434267be36b5c,fe20607cf3f94060b3edc5d2ece161557d7359d10eb84f...
3,60ba2296f805dbfa5ff64d29,2021-05-12T15:26:01Z,110179,39553,f0f8d83cdab2f9514bef0319f1b434267be36b5c,bf022de42ef2d7a5f9d9b2737843dfc88cf93253966124...
4,60ba2296f805dbfa5ff64d2a,2021-05-12T15:26:01Z,168676,43325,f0f8d83cdab2f9514bef0319f1b434267be36b5c,853f582a39dbb70c48468a1685fac0d9b901a3014a75eb...

In [8]:
df_processes.tail()

,_id,creationTime,endBlock,startBlock,entityId,processId
161,60ba2296f805dbfa5ff64dc7,2021-06-04T10:03:15Z,382342,189112,29dc4923fe62cbc28b94c2c075a6e68f040f7644,3ca3595a19db17534ddc2f787c2659e4a1e51777f9d2e0...
162,60ba2296f805dbfa5ff64dc8,2021-06-04T10:17:44Z,378427,189199,29dc4923fe62cbc28b94c2c075a6e68f040f7644,be5b63e10fcb61743800922adbfa4a5fe9043d3ab77f8d...
163,60ba2296f805dbfa5ff64dc9,2021-06-04T10:27:33Z,378549,189246,29dc4923fe62cbc28b94c2c075a6e68f040f7644,fa0004a660ace49eb25b137d92a726f9622b146df72b90...
164,60ba2296f805dbfa5ff64dca,2021-06-04T12:01:02Z,193231,190097,f0f8d83cdab2f9514bef0319f1b434267be36b5c,b9cdd244f0c0e697b67020e62ac6503bef8cd5c0d13b19...
165,60ba2296f805dbfa5ff64dcb,2021-06-04T12:10:21Z,209937,189828,f0f8d83cdab2f9514bef0319f1b434267be36b5c,8eab28581e693b0f94ad01284eb47d8a4035ae01f36d14...

In [9]:
df_processes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           166 non-null    object
 1   creationTime  166 non-null    object
 2   endBlock      166 non-null    int64
 3   startBlock    166 non-null    int64
 4   entityId      166 non-null    object
 5   processId     166 non-null    object
dtypes: int64(2), object(4)
memory usage: 7.9+ KB

There are no null values, being `startBlock` and `endBlock` integer type.

### Create blocks column
So as to be able to calculate `proccess_duration`

In [10]:
df_processes["blocks"] = df_processes["endBlock"] - df_processes["startBlock"]

In [11]:
df_processes["proccess_duration_d"] = (df_processes["blocks"] 
                                       / AVG_BLOCK_TIME_SECS # seconds
                                       / 60 # minutes
                                       / 24 # days
                                      )

In [58]:
df_processes["proccess_duration_d"].describe()

count    166.000000
mean       2.833576
std       11.469878
min        0.000417
25%        0.024375
50%        0.168993
75%        3.481944
max      141.555486
Name: proccess_duration_d, dtype: float64

### Transform `creationTime` to datetime

In [12]:
df_processes["creationTime_ts"] = pd.to_datetime(df_processes["creationTime"])

In [13]:
df_processes[["creationTime", "creationTime_ts"]].head()

           creationTime           creationTime_ts
0  2021-05-12T15:23:16Z 2021-05-12 15:23:16+00:00
1  2021-05-12T15:26:01Z 2021-05-12 15:26:01+00:00
2  2021-05-12T15:26:01Z 2021-05-12 15:26:01+00:00
3  2021-05-12T15:26:01Z 2021-05-12 15:26:01+00:00
4  2021-05-12T15:26:01Z 2021-05-12 15:26:01+00:00

In [46]:
df_processes["endingTime_ts"] = df_processes["creationTime_ts"] + df_processes["proccess_duration_d"].apply(lambda x: timedelta(days=x))
df_processes[["endingTime_ts", "creationTime_ts", "proccess_duration_d"]].head()

              endingTime_ts           creationTime_ts  proccess_duration_d
0 2021-05-12 16:13:16+00:00 2021-05-12 15:23:16+00:00             0.034722
1 2021-05-17 14:44:01+00:00 2021-05-12 15:26:01+00:00             4.970833
2 2021-05-17 10:49:19+00:00 2021-05-12 15:26:01+00:00             4.807847
3 2021-05-17 13:08:37+00:00 2021-05-12 15:26:01+00:00             4.904583
4 2021-05-21 08:21:07+00:00 2021-05-12 15:26:01+00:00             8.704931

In [60]:
df_processes.head()

,_id,creationTime,endBlock,startBlock,entityId,processId,blocks,proccess_duration_d,creationTime_ts,endingTime_ts
0,60ba2296f805dbfa5ff64d26,2021-05-12T15:23:16Z,541,41,359e67ac4c5311cbd6571a20eaf6e879a466d154,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...,500,0.034722,2021-05-12 15:23:16+00:00,2021-05-12 16:13:16+00:00
1,60ba2296f805dbfa5ff64d27,2021-05-12T15:26:01Z,71897,317,f0f8d83cdab2f9514bef0319f1b434267be36b5c,631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf63...,71580,4.970833,2021-05-12 15:26:01+00:00,2021-05-17 14:44:01+00:00
2,60ba2296f805dbfa5ff64d28,2021-05-12T15:26:01Z,110178,40945,f0f8d83cdab2f9514bef0319f1b434267be36b5c,fe20607cf3f94060b3edc5d2ece161557d7359d10eb84f...,69233,4.807847,2021-05-12 15:26:01+00:00,2021-05-17 10:49:19+00:00
3,60ba2296f805dbfa5ff64d29,2021-05-12T15:26:01Z,110179,39553,f0f8d83cdab2f9514bef0319f1b434267be36b5c,bf022de42ef2d7a5f9d9b2737843dfc88cf93253966124...,70626,4.904583,2021-05-12 15:26:01+00:00,2021-05-17 13:08:37+00:00
4,60ba2296f805dbfa5ff64d2a,2021-05-12T15:26:01Z,168676,43325,f0f8d83cdab2f9514bef0319f1b434267be36b5c,853f582a39dbb70c48468a1685fac0d9b901a3014a75eb...,125351,8.704931,2021-05-12 15:26:01+00:00,2021-05-21 08:21:07+00:00

---

In [47]:
if CACHE_ENVELOPES:
    from data.envelopes import envelopes

In [48]:
len(envelopes)

144

In [49]:
envelopes[4]

{'id': '123',
 'response': {'envelopes': [{'height': 154478,
    'nullifier': '3d0714498cf73a72e3b51a9df2b212043e36dd4b8cd82ef92ef5a4b2db16eff2',
    'process_id': '853f582a39dbb70c48468a1685fac0d9b901a3014a75eb25c006735fd62c27ad',
    'tx_hash': 'e7e797dbdcc90d833db2ca84f386fa73786050c4b5862b4208ac8124c623ac61',
    'tx_index': 0},
   {'height': 156369,
    'nullifier': '120e06d4e2530faac4a998e5a99d4638690537fdd54d66c6231c1c6ebe0c1b12',
    'process_id': '853f582a39dbb70c48468a1685fac0d9b901a3014a75eb25c006735fd62c27ad',
    'tx_hash': '1fea8f0948ae656147bf12422449518a19abf823c43277f585b2bf4e0dccc1e5',
    'tx_index': 0}],
  'ok': True,
  'request': '123',
  'timestamp': 1622822512},
 'signature': 'b0f27a693931120a60e2d8944ba1bf5d71ec3c6f345c21f6026f697b103cf9f958c6ff33fe1338eede567b3081636670d20d4b3e44f860ed0a500c02d32add2a01'}

### Filter needed data from `envelopes`

In [50]:
check = []
envelopes_filtered = []
for e in envelopes:
    r = e.get("response", None)
    _e = r.get("envelopes", None)
    if _e:
        l = (len(_e))
        for _d in _e:
            new = {attr: _d[attr] for attr in ATTR.getEnvelopeList if attr in _d}
            envelopes_filtered.append(new)
        if l == 64:
            check.append(new["process_id"])

In [51]:
check

['53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407852d56cf8afb4fcde',
 '7bbe11efa4597621c26a8b3ea3fe5e3ae1cc457e3b17ea4b5ceb64fd07931199',
 'fbdf7c83153d889d1683ba3c286b2dc5025d1e75a20464acbd1f3b5098111212',
 '16ef4d7af7489d8fbe113e6dcb58e9aeb5deac49a83b9e1efee5770814eacaa8',
 '85f3a5394c7e186ab5172e7a1d1dfa7c5b7e707b06b31c8f36e10e9c670014d2',
 'a5d79fbbd4054e40ebab3278647d7bab83afaecba7535fa2fec3eaad12d18af1',
 'c68f38a67c71869eca9c35dc20b76d9e6bbcbc9d6df699de59938e225322e151']

In [52]:
envelopes_filtered[:3]

[{'height': 42,
  'nullifier': '00c5a14b3aa62f810fd829e076fd8b46d52fe5a709a738c11af65e9b055bc443',
  'process_id': '53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407852d56cf8afb4fcde'},
 {'height': 42,
  'nullifier': '012de59c7121f8f9d97edcfc43b7504c7e89a9312bc6ac4ce3c06ff825531811',
  'process_id': '53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407852d56cf8afb4fcde'},
 {'height': 42,
  'nullifier': '01be3123076729594d89e457a46a7b3751b3fd25f1ef2916c824c95364c66c1c',
  'process_id': '53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407852d56cf8afb4fcde'}]

In [53]:
df_envelopes = pd.DataFrame(envelopes_filtered)

In [54]:
df_envelopes.head()

,height,nullifier,process_id
0,42,00c5a14b3aa62f810fd829e076fd8b46d52fe5a709a738...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...
1,42,012de59c7121f8f9d97edcfc43b7504c7e89a9312bc6ac...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...
2,42,01be3123076729594d89e457a46a7b3751b3fd25f1ef29...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...
3,42,020a34edc52b6d5281580fea3857dfc8bce9a322984b15...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...
4,42,0234a78af57502e716ac6ca9616359f660cdf76b33febb...,53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c40...

In [55]:
df_envelopes.tail()

,height,nullifier,process_id
753,166699,cf3e5e281cc69e3d55d6f55bf0d3823e51721a45693014...,288f52b6bd859455d71ae6c4ecf201fe1268a4e826b728...
754,181367,2a57bd3e133a5e29a183b7864154fe18f804787e76d151...,f128b9db8525215da84af8f47afe5bbcac093a55866cb2...
755,189117,fe3f89a36222d2d5cdb8fc7419c1209ac609184bf57b23...,3ca3595a19db17534ddc2f787c2659e4a1e51777f9d2e0...
756,189200,f2f36df03e5587145ca2bf9f92bcc5058a8ae5c9d4b2a5...,be5b63e10fcb61743800922adbfa4a5fe9043d3ab77f8d...
757,189248,c51706f1be7f78d0ae1239dff3354def544154ab45e8d5...,fa0004a660ace49eb25b137d92a726f9622b146df72b90...

In [56]:
for col in df_envelopes.columns:
    tmp_col = df_envelopes[col]
    display(tmp_col.value_counts().head(10).to_frame())
    print("Unique values", len(tmp_col.unique()))
    print()

        height
8583        64
8656        64
82513       64
8832        64
8856        64
8598        64
42          64
2240        20
1955        20
130125      20

Unique values 102

                                                    nullifier
121261049bec3df07636c580ba47a9a99a6cc6bf631cd12...          1
d0e11fdecea920ba22b06f3c5b4069ed484c1295b7d05d7...          1
9c567e497d6b3ec658e02edd07bf3ed458831ce4f0fa6d0...          1
105fbc3e18e602ac0a322cff924d6604677a9fa7941990a...          1
0087d51d5c392ae271a8c169730b4ea5f1d9ffe78bafb88...          1
100a01193dbf11b4d2df232ee05b819983aedf64c5beb6f...          1
008a28a369dcf4a67c71b916dbd112ed829b8f363d32b9c...          1
00aa76d586ab8f8af4dc22f1e1e10b2a5f5ade3d749a454...          1
00815710a902029dd35bb00bae042283660a977366548af...          1
010e97ce6055d2906075dd0eb448f2af4cf397e8d7d6615...          1

Unique values 758

                                                    process_id
53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407...          64
a5d79fbbd4054e40ebab3278647d7bab83afaecba7535fa...          64
fbdf7c83153d889d1683ba3c286b2dc5025d1e75a20464a...          64
16ef4d7af7489d8fbe113e6dcb58e9aeb5deac49a83b9e1...          64
7bbe11efa4597621c26a8b3ea3fe5e3ae1cc457e3b17ea4...          64
85f3a5394c7e186ab5172e7a1d1dfa7c5b7e707b06b31c8...          64
c68f38a67c71869eca9c35dc20b76d9e6bbcbc9d6df699d...          64
6bf6707c6379a0792c0daebec1e197b0a9d648fd01d8451...          50
fb7bd01987e1d8bb0ad5eb8b65e26fcbdd56787f33bc9ba...          50
35fb0d73a5092a143a9c628f5f43b10b226cb3f48721a11...          20

Unique values 80

In [57]:
df_tmp = (df_envelopes
        .groupby("process_id")["nullifier"]
        .count()
        .sort_values(ascending=False)
        .to_frame()
        )
display(df_tmp.head(20))

                                                    nullifier
process_id
7bbe11efa4597621c26a8b3ea3fe5e3ae1cc457e3b17ea4...         64
fbdf7c83153d889d1683ba3c286b2dc5025d1e75a20464a...         64
53f31a0fb02a3ea7467e80ad250d43c935d3dc15924c407...         64
16ef4d7af7489d8fbe113e6dcb58e9aeb5deac49a83b9e1...         64
a5d79fbbd4054e40ebab3278647d7bab83afaecba7535fa...         64
85f3a5394c7e186ab5172e7a1d1dfa7c5b7e707b06b31c8...         64
c68f38a67c71869eca9c35dc20b76d9e6bbcbc9d6df699d...         64
6bf6707c6379a0792c0daebec1e197b0a9d648fd01d8451...         50
fb7bd01987e1d8bb0ad5eb8b65e26fcbdd56787f33bc9ba...         50
35fb0d73a5092a143a9c628f5f43b10b226cb3f48721a11...         20
cfa48e9f7ddc95e82ce257de6d42e4cbf7e9664d48b95ba...         20
48dd26ca7371e65b3e9e21f9b51a5bcc82c63883b1d144b...         20
f3f42e1db4a38c78956fd5284c488f0ddca6f2996ae279e...         20
60ffb0579efe26c8ac68f6b15fc7467846db9b5770ba72f...         10
7593715d59feba44813eb62f4dcbf0b1f7a349216b22df6...         10
ded3fc4a704db310969c6d0319570bc551f97e554cc3086...         10
9e6460ca76c20d69a1fbc1b0cf3bbf58d9d16091508e41d...         10
d8a59033607aa17bc678412c6c7c2cee9c84edeaf3e7f44...          4
168c95cd8efad7400ca4ace2aeb2319bed014e25960b012...          4
631ada2c7b2fc4d5cb2a6cb68d945565d1471956becf638...          3